.aboutWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
}

.aboutTechContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-left: 4px solid black;
}

.aboutProjectContainer {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.aboutLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 15px;
}

.aboutWrapper a {
  color: #1a4e55;
}

.apiDockerLinks {
  display: flex;
  gap: 15%;
}

.techInfoHeader {
  background-color: hsl(32deg 75% 61%);
  padding: 10px;
}

.projectInfoHeader {
  background-color: hsl(141deg 39% 65%);
  padding: 10px;
}

.projectText {
  max-width: 350px;
  font-family: Mate, serif !important;
}

.projectLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 350px;
}

.projectLinks > svg > g > text > a {
  text-decoration: underline;
}

.projectTextHighlight {
  text-decoration: underline wavy #1a4e55;
  text-underline-offset: 0.25em;
}

@media (width < 800px) {
  .aboutTechContainer {
    border-left: none;
  }

  .aboutWrapper {
    grid-template-columns: 1fr;
  }
}

@media (width < 700px) {
  .aboutBlob {
    width: 150px;
  }

  .aboutProjectContainer {
    padding-left: 2%;
  }
}

@media (width < 600px) {
  .techInfoSubHeader {
    font-size: 1rem;
  }

  .aboutLinks {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .aboutLinks > a:nth-child(9) {
    display: none;
  }
}

@media (width < 550px) {
  .projectLinks {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (width < 500px) {
  .aboutLinks {
    grid-template-columns: 1fr;
  }
}

@media (width < 400px) {
  .projectInfoHeader,
  .techInfoHeader {
    padding: 5px;
    font-size: 1.5rem;
  }
}
