.addWrapper ::-webkit-file-upload-button {
  background: #dbca2e;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 10px;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 1px 5px 0 rgb(0 0 0 / 12%);
}

.addWrapper ::-webkit-file-upload-button:hover {
  background: #cab727;
  transform: scale(1.01);
}

.addWrapper ::-webkit-file-upload-button:active {
  transform: translateY(1px);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.addWrapper form {
  display: grid;
  max-width: 400px;
}

.form {
  display: flex;
  justify-content: center;
}

.imageUploading {
  margin-bottom: -30px;
}

.imageUploadBar {
  display: flex;
}

.imageUploadBar input {
  height: 2rem;
}

.imageUploadBar button {
  background-color: #dbca2e;
  color: black;
}

.imageUploadBar button:hover {
  background-color: #cab727;
}

.addChip {
  margin-top: 15px;
}

.submitHeader {
  text-align: center;
  margin-top: 50px;
}

.submitTimeCounter {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 120px;
}

#geocoder {
  color: #747272;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.addWrapper .mapboxgl-map {
  width: 400px !important;
  height: 300px !important;
  margin-bottom: 1rem;
}

.addWrapper .mapboxgl-ctrl-bottom-left,
.addWrapper .mapboxgl-ctrl-bottom-right {
  display: none;
}

.addressField > div {
  width: 400px !important;
  max-width: 400px;
}

.addressString {
  white-space: nowrap;
  max-width: 390px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.canvas-container {
  display: grid;
  place-items: center;
}

.or {
  text-align: center;
  font-weight: bold;
}

.colored {
  padding: 50px;
  line-height: 1;
  display: grid;
  place-items: center;
  margin: 1rem;
  background-image: url("https://koripallopaikat.com/koripallopaikat/blob4.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 155% 155%;
}

.coloredText {
  font-weight: 900;
  width: min-content;
  margin: auto;
  font-size: 2.6rem;
  text-transform: uppercase;
  background: linear-gradient(
    219deg,
    #b72b38 39%,
    transparent 39%,
    transparent 40%,
    #263a73 40%,
    #263a73 69%,
    transparent 69%,
    transparent 70%,
    #051b2d 70%
  );
  background-clip: text;
  color: transparent;
}

.inputField {
  min-width: 280px;
  background-color: #feffff !important;
}

.form .greenButton {
  background-color: #82c99b;
  color: black;
}

.form .greenButton:last-of-type {
  margin-top: 1rem;
}

.form .greenButton:hover {
  background-color: #1a4e55;
  color: white;
}

.successChip {
  background-color: #82c99b;
  color: black;
  width: 400px;
  margin-top: 1rem;
}

@media (width < 700px) {
  .coloredText {
    font-size: 2.3rem;
  }

  div.imageUploading > div > div {
    width: 70%;
  }
}

@media (width < 500px) {
  .form {
    margin: 0 10px 10px;
  }

  .addChip {
    margin-top: 30px;
  }

  .coloredText {
    font-size: 1.9rem;
  }

  .colored {
    padding: 40px;
  }

  .imageUploading {
    margin-bottom: -45px;
  }
}

@media not all and (resolution > 0.001dpcm) {
  @media (width < 500px) {
    .form {
      margin: 0 10px 10px;
    }

    .coloredText {
      font-size: 1.9rem;
    }

    .addChip {
      margin-top: 30px;
    }
  }
}
