.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

.addHeader {
  text-align: center;
  margin: 20px 20px;
}

.imageUploading {
  margin-bottom: -30px;
}

.addChip {
  margin-top: 15px;
}

.submitHeader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

@media (max-width: 500px) {
  .form {
    margin-left: 10px;
  }

  .uploadButton {
    margin-top: 15px !important;
  }

  .addChip {
    margin-top: 30px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media (max-width: 500px) {
    .form {
      margin-left: 10px;
    }

    .uploadButton {
      margin-top: 15px !important;
    }

    .addChip {
      margin-top: 30px;
    }
  }
}
