.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

.addHeader {
  text-align: center;
  margin: 20px 20px;
}

.imageUploading {
  margin-bottom: -30px;
}

.addChip {
  margin-top: 15px;
}

.submitHeader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 120px;
}

#geocoder {
  color: #747272;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: 393.98px !important;
  max-width: 460px !important;
  box-shadow: none !important;
  border-bottom: 1px solid #747272;
  border-radius: 0 !important;
}

.addressString {
  white-space: nowrap;
  max-width: 390px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.canvas-container {
  display: grid;
  place-items: center;
}

@media (max-width: 500px) {
  .form {
    margin: 0 10px 10px 10px;
  }

  .uploadButton {
    margin-top: 15px !important;
  }

  .addChip {
    margin-top: 30px;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @media (max-width: 500px) {
    .form {
      margin: 0 10px 10px 10px;
    }

    .uploadButton {
      margin-top: 15px !important;
    }

    .addChip {
      margin-top: 30px;
    }
  }
}
