.kbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 1.6;
  color: rgb(28 28 29);
  padding: 12px 16px;
  background: transparent;
  border-left: 2px solid transparent;
  cursor: pointer;
}

.kbar:first-child {
  margin-top: 10px;
}

.kbarContainer {
  max-width: 600px;
  width: 100%;
  background: rgb(252 252 252);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 6px 20px rgb(0 0 0 / 20%);
}

.activeBar {
  background-color: #f1f1f1;
  border-left: 2px solid #194d55;
}

.kbarInput {
  padding: 12px 18px;
  font-size: 1rem;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  width: 150%;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgb(252 252 252);
}

#kbar-listbox-item-0 {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  color: rgb(28 28 29);
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  padding: 8px 18px;
  font-size: 0.625rem;
  text-transform: uppercase;
  opacity: 0.5;
}

.kbar span {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 4px 6px;
  font-family: monospace;
}

.kbar-item p {
  font-size: 0.8rem;
}

.kbar-item p::first-letter {
  text-transform: uppercase;
}
