.contactsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 4%;
}

.link {
  display: flex;
}

.contactLink {
  display: flex;
  gap: 3px;
}

.contactLink:hover,
.contactLink:focus {
  transform: scale(1.1) rotate(-5deg);
}

.contactHeader {
  text-align: center;
  margin-top: 1rem;
}

@media (max-width: 800px) {
  .contactsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    place-items: center;
  }
}
