.contactsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3%;
}

.link {
  display: flex;
}

.contactLink {
  display: flex;
  gap: 3px;
}

.contactLink:hover,
.contactLink:focus {
  transform: scale(1.1) rotate(-5deg);
}

.contactBlob {
  display: grid;
  place-items: center;
  margin: -1%;
}

.input textarea {
  padding: 0.88rem;
  color: rgba(0 0 0 87%);
  line-height: 19px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.successHeader {
  text-align: center;
  margin-top: 1%;
}

.contactHeader {
  text-align: center;
  margin-bottom: 1%;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form {
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}

.contactForm {
  width: 30%;
}

.contactForm button {
  background-color: #82c99b;
  color: black;
}

.contactForm button:hover {
  background-color: #1a4e55;
  color: white;
}

@media (width < 800px) {
  .contactForm {
    width: 60%;
  }
}

@media (width < 600px) {
  .contactForm {
    width: 80%;
  }
}

@media (width < 500px) {
  .contactsContainer {
    padding: 0 0.5rem;
  }

  .contactLink img {
    width: 2rem;
  }
}
