.contactsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5%;
}

.link {
  display: flex;
}

.linkContainer {
  display: flex;
  gap: 3px;
}

@media (max-width: 800px) {
  .contactsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    place-items: center;
  }
}
