.basketballField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 100%, 400px);
  height: clamp(90%, 95%, 100%);
}

.hoverPicture {
  position: absolute;
  transform: translateX(150px);
  z-index: 1;
}

.hoverPicture > img {
  border-radius: 5px;
}

.cardMedia {
  height: 140px;
}

.listCourt {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 20px 40px 40px 40px;
}

.iconLink {
  width: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .MuiCardActions-spacing > :not(:first-child) {
    margin-left: -10px !important;
  }
}
@media (max-width: 1250px) {
  .listCourt {
    grid-template-columns: repeat(5, 1fr);
  }
  .iconLinks.MuiCardActions-spacing > :not(:first-child) {
    margin-left: -20px !important;
  }
  .iconLinks.MuiCardActions-spacing > :first-child {
    margin-left: -10px !important;
  }
}
@media (max-width: 1050px) {
  .listCourt {
    grid-template-columns: repeat(4, 1fr);
  }
  .MuiCardActions-spacing > :first-child {
    margin-left: -10px !important;
  }
}
@media (max-width: 850px) {
  .listCourt {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 650px) {
  .listCourt {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  .listCourt {
    margin: 10px 20px 20px 20px;
  }
  .basketballField {
    width: clamp(170px, 50%, 400px);
  }
  .iconLinks {
    margin-left: -10px;
  }
  .MuiPagination-root li {
    max-width: 35px;
  }
}
