.mainPageLinkIcon {
  font-size: 2rem;
  color: #1a4e55 !important;
}

.mainPageLinkIcon:hover {
  transform: scale(1.1);
  color: #212121 !important;
  transition: all 0.3s ease-in-out;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(1) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob1.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(2) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob2.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(3) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob3.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiBottomNavigationAction-label.MuiBottomNavigationAction-label {
  font-size: 1rem;
}
