.idContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.idHeader {
  margin: 5px;
}

.idPic {
  margin-bottom: 10px;
  width: clamp(100px, 538px, 100%);
  height: clamp(100px, 403px, 100%);
  border-radius: 5px;
}

.carousel .slide img {
  width: clamp(100px, 538px, 100%) !important;
  height: clamp(100px, 403px, 100%);
}

.idLinks {
  display: flex;
  margin-bottom: 10px;
  gap: 40px;
}

.idInfo {
  display: flex;
  gap: 40px;
}

.idInfo p {
  background-color: #1b4f55;
  color: white;
  padding: 5px;
  border-radius: 5px;
}
