.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 20px 40px;
}

.mainPageLink {
  margin-bottom: 30px;
  align-items: baseline;
}

.mainPageLinkIcon {
  font-size: 2rem;
  color: #1a4e55 !important;
}

.mainPageLinkIcon:hover {
  transform: scale(1.1);
  color: #212121 !important;
  transition: all 0.3s ease-in-out;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(1) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob1.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(2) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob2.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.MuiBottomNavigation-root.mainPageLink > a:nth-child(3) {
  background-image: url("https://www.villivald.com/koripallopaikat/blob3.svg");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.basketballFieldMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 100%, 400px);
  height: clamp(90%, 125%, 100%);
}

.MuiBottomNavigationAction-label {
  font-size: 1rem !important;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
