.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin: 20px 40px;
}

.mainPageLink {
  margin-bottom: 30px;
  align-items: baseline;
}

.basketballFieldMain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 100%, 400px);
  height: clamp(90%, 125%, 100%);
}

@media (width < 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (width < 700px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 500px) {
  .container {
    grid-template-columns: 1fr;
  }
}
