.map-container {
  height: 87.5vh;
}

.map-container-small {
  height: 41vh;
  width: 56vh;
}

.mapboxgl-ctrl-geocoder {
  width: clamp(15vw, 25vw, 150%) !important;
}

.or {
  text-align: center;
  font-weight: bold;
}

h3 {
  padding-top: 10px;
}

@media (max-width: 700px) {
  .map-container-small {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .map-container-small {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .map-container-small {
    width: 90%;
  }
}
