.map-container {
  height: 81vh;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font-family: monospace;
  border-radius: 4px;
  width: clamp(350px, 70%, 450px);
}
