.newsCard {
  width: clamp(200px, 100%, 400px);
  height: clamp(90%, 125%, 100%);
}

.newsHeader {
  text-align: center;
  background-color: #194d55;
}

.newsCard::before {
  content: "";
  display: block;
  background-color: #82c89b;
  height: 5px;
}

.newsHeaderText.newsHeaderText {
  color: #fefffe;
  font-family: "Mate", serif;
}

.newsContainer {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  padding: 10px;
  text-align: left;
}

.newsDate {
  text-align: center;
  font-size: 0.825rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
}

.newsBlob {
  display: grid;
  place-items: center;
  margin-top: -2%;
  margin-bottom: -3%;
}

.newsPageContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin: 1%;
}

.newsCardContainer {
  width: clamp(200px, 90%, 400px);
  height: clamp(90%, 95%, 100%);
}

.newsCardImage {
  min-height: 140px;
}

div.MuiCardContent-root.newsCardContent > div > svg {
  color: #051b2d;
}

@media (max-width: 850px) {
  .newsPageContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 650px) {
  .newsPageContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .newsPageContainer {
    grid-template-columns: 1fr;
  }
}
