.reviewContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 1%;
}

.reviewField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 90%, 400px);
  height: clamp(90%, 95%, 100%);
}

.reviewHeader {
  text-align: center;
  margin: 15px;
}

.reviewBlob {
  display: grid;
  place-items: center;
  height: 12rem;
  pointer-events: none;
}

.cardMedia {
  height: 140px;
  cursor: pointer;
}

@media (width < 1200px) {
  .reviewContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 800px) {
  .reviewContainer {
    grid-template-columns: 1fr;
  }
}

@media (width < 450px) {
  .reviewField {
    width: clamp(350px, 50%, 400px);
  }

  .reviewBlobText {
    font-size: 1.1rem;
  }
}
