.reviewContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  margin: 1%;
}

.reviewField {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: clamp(200px, 90%, 400px);
  height: clamp(90%, 95%, 100%);
}

.reviewHeader {
  text-align: center;
  margin: 15px;
}

.reviewBlob {
  display: grid;
  place-items: center;
  margin-top: -4%;
  margin-bottom: -5%;
}

@media (max-width: 1200px) {
  .reviewContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .reviewContainer {
    grid-template-columns: 1fr;
  }

  .reviewBlob {
    margin-top: -8%;
  }
}

@media (max-width: 450px) {
  .reviewField {
    width: clamp(350px, 50%, 400px);
  }

  .reviewBlob {
    margin-top: -14%;
  }

  .reviewBlobText {
    font-size: 1.1rem;
  }
}
