.amount {
  position: absolute;
  top: 17%;
  font-size: 1.6rem;
  margin-left: 5px;
}

@media (max-width: 800px) {
  .amount {
    top: 20%;
  }
}
@media (max-width: 550px) {
  .amount {
    width: 100px;
  }
}
@media (max-width: 450px) {
  .amount {
    width: 80px;
  }
}
@media (max-width: 420px) {
  .amount {
    top: 16%;
  }
}
