.amount {
  position: absolute;
  top: 17%;
  font-size: 1.6rem;
  margin-left: 5px;
}

.underline {
  background-image: linear-gradient(
    transparent 0%,
    transparent calc(50% - 9px),
    #dbca2e calc(50% - 9px),
    #dbca2e 100%
  );
  background-size: 50% 220%;
}

.Mui-checked > span.MuiIconButton-label > span {
  color: #1a4e55;
}

.MuiSwitch-colorSecondary.Mui-checked + span.MuiSwitch-track {
  background-color: #82c99b;
}

@media (max-width: 800px) {
  .amount {
    top: 20%;
  }
}

@media (max-width: 550px) {
  .amount {
    width: 100px;
  }
}

@media (max-width: 450px) {
  .amount {
    width: 80px;
  }
}

@media (max-width: 420px) {
  .amount {
    top: 16%;
  }
}
