.intro {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  background-color: #82c99c;
  padding: 15px;
  font-size: clamp(1.8rem, 2.2vw, 2.8rem);
}

.introText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: bold;
}

.spin {
  animation: spin-animation 1.5s 1;
  cursor: pointer;
}

.spin:hover {
  animation-iteration-count: infinite;
}

@keyframes spin-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 500px) {
  .intro {
    padding: 10px;
  }
}
@media (max-width: 420px) {
  .intro {
    font-size: 1.4rem;
  }
}
@media (max-width: 350px) {
  .intro {
    font-size: 1.2rem;
  }
}
